.App {
  margin-left: 150px;
  margin-right: 150px;
}
.header {
  background-color: #282c34;
}

.icons {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}
.text {
  background-color: #282c34;
  color: white;
  padding: 20px 30px;
  width: 20%;
}
.awesome {
  background-color: white;
  color: black;
  width: 50%;
  padding: 10px;
  border-radius: 7px;
}
.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.boxes{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

